## Задача 1.1.1

In [1]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

In [2]:
data = '''sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25 '''

In [3]:
data

'sleep totwrk age male hrwage\n3113   3438  32   1    7.07 \n2920   5020  31   1    1.43 \n2670   2815  44   1   20.53 \n3083   3786  30   0    9.62 \n3448   2580  64   1    2.75 \n4063   1205  41   1   19.25 '

In [5]:
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [8]:
df['pred'] = 3525.14 + df['totwrk'] * (-0.16) + df['age'] * (1.62) + df['male']*(51.84)+np.log(df['hrwage'])*(+9.88)
df

   sleep  totwrk  age  male  hrwage         pred    residual
0   3113    3438   32     1    7.07  3098.063902   53.583902
1   2920    5020   31     1    1.43  2827.533824   99.533824
2   2670    2815   44     1   20.53  3227.716246 -498.003754
3   3083    3786   30     0    9.62  2990.346781  137.386781
4   3448    2580   64     1    2.75  3277.854617  190.134617
5   4063    1205   41     1   19.25  3479.820209  641.620209

In [9]:
df['residual'] = df['sleep']-df['pred']
df

   sleep  totwrk  age  male  hrwage         pred    residual
0   3113    3438   32     1    7.07  3098.063902   14.936098
1   2920    5020   31     1    1.43  2827.533824   92.466176
2   2670    2815   44     1   20.53  3227.716246 -557.716246
3   3083    3786   30     0    9.62  2990.346781   92.653219
4   3448    2580   64     1    2.75  3277.854617  170.145383
5   4063    1205   41     1   19.25  3479.820209  583.179791

## Задача 1.1.2

In [10]:
data = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46  '''

In [11]:
data

'output capital labour\n9.25    2.61    184  \n3.66    1.32     91  \n28.78   22.09   426  \n4.12    10.74    72  \n2.89    1.16     46  '

In [12]:
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [13]:
df['pred'] = -1.71 + np.log(df['capital'])*(0.21) + np.log(df['labour'])*(0.71)
df

   output  capital  labour      pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [14]:
df['residual'] = np.log(df['output'])-df['pred']
df

   output  capital  labour      pred  residual
0    9.25     2.61     184  2.194068  0.030556
1    3.66     1.32      91  1.551013 -0.253550
2   28.78    22.09     426  3.238628  0.121053
3    4.12    10.74      72  1.824968 -0.409115
4    2.89     1.16      46  1.039504  0.021753

## Задача 1.2.1

In [15]:
TSS=100.35
ESS=47.56

In [16]:
RSS=TSS-ESS
RSS

52.78999999999999

$$
R^2= \frac{ESS}{TSS}= 1-\frac{RSS}{TSS}
$$

In [18]:
R2=ESS/TSS
R2

0.47394120577977084

## Задача 1.2.2

In [19]:
ESS = 240.82 - 93.52
ESS

147.3

### Домашняя работа 
## Задача 1.2.4

In [20]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

In [22]:
aa = '''остаток 
-0.24  
0.41  
1.22 
-0.93 
-0.37 
-1.33  
0.16 
-0.27  
0.06  
1.29'''
df = pd.read_csv(io.StringIO(aa), sep='\s+')
df

   остаток
0    -0.24
1     0.41
2     1.22
3    -0.93
4    -0.37
5    -1.33
6     0.16
7    -0.27
8     0.06
9     1.29

In [23]:
RSS = np.sum((df)**2)
round (RSS, 2)

остаток    6.25
dtype: float64

In [24]:
s = (RSS/(10-2))**0.5
round (s, 2)

остаток    0.88
dtype: float64

### Задача 1.2.5

In [30]:
data = '''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41'''
data

'sleep/60 totwrk age y.hat\n51.88     3438  32  51.00\n48.67     5020  31  44.43\n44.50     2815  44  53.72\n51.38     3786  30  49.53\n57.47     2580  64  54.92\n67.72     1205  41  60.36\n53        2113  35  56.53\n48.80     3608  47  50.46\n56.13     2353  32  55.50\n50.30     2851  30  53.41'

In [31]:
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [33]:
TSS = ((df['sleep/60'] - np.mean(df['sleep/60']))**2).sum()
TSS.round(2)

366.26

In [34]:
RSS = ((df['sleep/60'] - df['y.hat'])**2).sum()
RSS.round(2)

193.14

In [35]:
ESS = TSS-RSS
ESS.round(2)

173.12

### Задача 1.2.6

In [36]:
oper = '''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40 '''
df = pd.read_csv(io.StringIO(oper), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [37]:
TSS = ((df['log(output)'] - np.mean(df['log(output)']))**2).sum()
TSS.round(2)

24.48

In [38]:
RSS = ((df['log(output)'] - df['y.hat'])**2).sum()
RSS.round(2)

0.29

In [39]:
ESS = TSS-RSS
ESS.round(2)

24.19

### Задача 1.2.7

In [41]:
RSE = 0.378
n = 935
m = 6
RSS = RSE**2*(n-m)
round(RSS, 3)

132.739

### Задача 1.2.8

In [43]:
RSE = 0.383
R2 = 0.178
n = 935
m = 5
RSS = RSE**2*(n-m)
TSS = RSS/(1-R2)
round(TSS, 3)

165.962

### задача 1.2.9

In [44]:
RSE = 0.389
R2 = 0.149
n = 935
m = 4
RSS = RSE**2*(n-m)
TSS = RSS/(1-R2)
ESS = TSS - RSS
round(ESS, 3)

24.666

### Задача 2.1

n -- количество измерений
k -- количество регрессов 
$$
R^2_{adj}=1-(1-R^2)*\frac{n-1}{n-k}
$$

In [47]:
n = 526
k=5
R2=0.288
R2adj=1-(1-R2)*(n-1)/(n-k)
R2adj

0.2825335892514397

### Задача 2.2

In [48]:
n = 935
k=5
R2=0.201
R2adj=1-(1-R2)*(n-1)/(n-k)
R2adj

0.19756344086021504

### Задача 2.3

In [49]:
oper = '''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41 '''
df = pd.read_csv(io.StringIO(oper), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [50]:
TSS = ((df['sleep/60'] - np.mean(df['sleep/60']))**2).sum()
ESS = ((df['y.hat']- np.mean(df['sleep/60']))**2).sum()
R2 = ESS/TSS
R2.round(3)

0.473

In [51]:
RSS = TSS - ESS
n = len(df)
k = 3
RSS_adj = 1 - (RSS/TSS)*((n-1)/(n-k))
RSS_adj.round(3)

0.322

### Задача 2.4

In [52]:
oper1 = '''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40 '''
df = pd.read_csv(io.StringIO(oper1), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [53]:
TSS = ((df['log(output)'] - np.mean(df['log(output)']))**2).sum()
ESS = ((df['y.hat']- np.mean(df['log(output)']))**2).sum()
R2 = ESS/TSS
R2.round(3)

0.991

In [54]:
RSS = TSS - ESS
n = len(df)
k = 2
RSS_adj = 1 - (RSS/TSS)*((n-1)/(n-k))
RSS_adj.round(3)

0.989

### Задача 3.1

In [55]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [60]:
sting_data = """i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398"""

In [61]:
df = pd.read_csv(io.StringIO(sting_data), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [62]:
df['Факт']

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64

In [63]:
df['Факт'].mean()

3316.6666666666665

In [69]:
tss=(df['Факт']-df['Факт'].mean())**2
tss

0     41480.111111
1     54600.111111
2    557013.444444
3     89201.777778
4     98177.777778
5    104760.111111
Name: Факт, dtype: float64

In [75]:
df['Fitted'].mean()

3236.078666666667

In [77]:
ESS=np.sum(((df['Fitted']-df['Fitted'].mean())**2))
ESS

249130.39192333346

In [78]:
RSS=TSS-ESS
RSS

696102.94141

In [79]:
R2=ESS/TSS
R2

0.2635649665937865

In [80]:
R2_adj=1-(1-R2)*(6-1)/(6-4)
R2_adj

-0.8410875835155338

### Задача 3.2

In [82]:
df = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/sleep75.csv')
sleep_eq = smf.ols(formula='sleep~totwrk+age+male+south', data=df[df['smsa']==1]).fit()
sleep_eq.params.round(2)

Intercept    3460.43
totwrk         -0.18
age             2.28
male           92.65
south         168.85
dtype: float64

In [83]:
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [85]:
df_smsa = df[df['smsa']==1]
df_smsa

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
7,47,0,8,0.000000,0.000000,13,0,1,1,3544,...,0,3608,0,3608,0,28,0,24,15.010007,2209
9,30,0,10,0.000000,0.000000,15,11750,1,1,4211,...,1,2851,0,2851,0,9,0,7,2.959999,900
11,23,0,12,0.000000,0.000000,16,1000,1,1,6415,...,1,370,0,370,0,1,0,4,1.230000,529
12,24,0,13,0.000000,0.000000,16,1000,1,1,3844,...,1,2438,0,2438,0,2,0,4,1.230000,576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,31,0,690,0.182331,0.030075,12,10500,1,0,4639,...,0,2373,0,2373,0,13,0,0,NaN,961
693,25,1,694,0.182331,0.030075,12,3500,1,0,5530,...,0,1510,1,1510,0,7,1,0,NaN,625
697,47,0,698,0.182331,0.030075,10,9500,1,0,5882,...,0,1183,1,1183,0,31,0,28,NaN,2209
700,32,0,701,0.182331,0.030075,16,10500,1,0,4707,...,0,2388,0,2388,0,10,0,0,NaN,1024
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025

In [86]:
ind = np.array([1, 9, 56, 76, 100])-1
df_smsa['sleep'].iloc[ind]

2      2670
19     3090
149    2985
194    3660
259    2618
Name: sleep, dtype: int64

In [87]:
sleep_eq.fittedvalues.iloc[ind].round(2)

2      3132.49
19     3370.08
149    2835.36
194    3248.54
259    2863.07
dtype: float64

In [88]:
sleep_eq.resid.iloc[ind].round(2)

2     -462.49
19    -280.08
149    149.64
194    411.46
259   -245.07
dtype: float64

In [89]:
sleep_eq.centered_tss

50055043.404255316

In [90]:
sleep_eq.ess

7396259.393412955

In [91]:
sleep_eq.ssr

42658784.01084236

In [92]:
sleep_eq.rsquared

0.14776252082490815

In [93]:
sleep_eq.rsquared_adj

0.13545584242526787

In [95]:
RSS = sleep_eq.ssr
n = len(df_smsa)
k = 5
s = (RSS/(n-k))**0.5
round (s, 3)

392.432

### Задача 3.3

In [97]:
df = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/sleep75.csv')
sleep_eq = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df[df['male']==1]).fit()
sleep_eq.params.round(2)

Intercept    3600.96
totwrk         -0.19
age             3.30
smsa          -77.69
south          60.11
dtype: float64

In [98]:
df_smsa = df[df['male']==1]
ind = np.array([1, 9, 45, 187, 280])-1
df_smsa['sleep'].iloc[ind]

0      3113
9      3018
48     3363
262    3390
440    2955
Name: sleep, dtype: int64

In [99]:
sleep_eq.fittedvalues.iloc[ind].round(2)

0      3061.48
9      3087.34
48     3268.52
262    3228.98
440    3399.06
dtype: float64

In [100]:
sleep_eq.resid.iloc[ind].round(2)

0       51.52
9      -69.34
48      94.48
262    161.02
440   -444.06
dtype: float64

In [101]:
sleep_eq.centered_tss

75570140.57750002

In [102]:
sleep_eq.ess

12125135.59786518

In [103]:
sleep_eq.ssr

63445004.97963484

In [104]:
sleep_eq.rsquared

0.16044876329732904

In [105]:
sleep_eq.rsquared_adj

0.1519469786218589

In [106]:
RSS = sleep_eq.ssr
n = len(df_smsa)
k = 5
s = (RSS/(n-k))**0.5
round (s, 2)

400.77

### Задача 3.4

In [107]:
sleep_eq = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df[df['male']==0]).fit()
sleep_eq.params.round(2)

Intercept    3468.20
totwrk         -0.15
age             1.65
smsa          -37.69
south         136.03
dtype: float64

In [108]:
df_smsa = df[df['male']==0]
ind = np.array([1, 9, 45, 187, 280])-1
df_smsa['sleep'].iloc[ind]

3      3083
67     2858
198    3730
472    3376
628    3405
Name: sleep, dtype: int64

In [109]:
sleep_eq.fittedvalues.iloc[ind].round(2)

3      2945.90
67     2920.66
198    3328.63
472    3503.72
628    3215.07
dtype: float64

In [110]:
sleep_eq.resid.iloc[ind].round(2)

3      137.10
67     -62.66
198    401.37
472   -127.72
628    189.93
dtype: float64

In [111]:
sleep_eq.centered_tss

63490152.11764705

In [112]:
sleep_eq.ess

6300990.568985924

In [113]:
sleep_eq.ssr

57189161.54866113

In [114]:
sleep_eq.rsquared

0.09924358910512943

In [115]:
sleep_eq.rsquared_adj

0.087273404242739

In [116]:
RSS = sleep_eq.ssr
n = len(df_smsa)
k = 5
s = (RSS/(n-k))**0.5
round (s, 4)

435.8867

### Задача 3.5

In [120]:
df = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/Labour.csv')
sleep_eq = smf.ols(formula='output~capital+labour+wage', data=df).fit()
sleep_eq.params.round(2)

Intercept   -16.75
capital       0.40
labour        0.05
wage          0.44
dtype: float64

In [121]:
ind = np.array([2, 11, 24, 101, 349, 501])-1
df['output'].iloc[ind]

1      3.664310
10     3.245624
23     2.666305
100    2.180688
348    4.307089
500    3.659600
Name: output, dtype: float64

In [123]:
sleep_eq.fittedvalues.iloc[ind].round(2)

1       0.46
10      5.67
23     -0.63
100     6.95
348     2.28
500    11.35
dtype: float64

In [124]:
sleep_eq.resid.iloc[ind].round(2)

1      3.21
10    -2.42
23     3.29
100   -4.77
348    2.03
500   -7.69
dtype: float64

In [125]:
sleep_eq.centered_tss

2235073.2947312016

In [126]:
sleep_eq.ess

2190376.0767236855

In [127]:
sleep_eq.ssr

44697.218007516145

In [128]:
sleep_eq.rsquared

0.9800019005583029

In [129]:
sleep_eq.rsquared_adj

0.9798957159594974

In [130]:
RSS = sleep_eq.ssr
n = len(df)
k = 4
s = (RSS/(n-k))**0.5
s

8.894387014701195

### Задача 3.6

In [131]:
sleep_eq = smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)', data=df).fit()
sleep_eq.params.round(2)

Intercept         -5.01
np.log(capital)    0.15
np.log(labour)     0.72
np.log(wage)       0.92
dtype: float64

In [132]:
ind = np.array([2, 11, 24, 101, 349, 501])-1
np.log(df['output']).iloc[ind]

1      1.298640
10     1.177308
23     0.980694
100    0.779641
348    1.460262
500    1.297354
Name: output, dtype: float64

In [133]:
sleep_eq.fittedvalues.iloc[ind].round(2)

1      1.35
10     1.43
23     0.34
100    1.01
348    1.18
500    1.73
dtype: float64

In [134]:
sleep_eq.resid.iloc[ind].round(2)

1     -0.05
10    -0.25
23     0.64
100   -0.23
348    0.28
500   -0.43
dtype: float64

In [135]:
sleep_eq.centered_tss

797.6674045328446

In [136]:
sleep_eq.ess

708.6473705860927

In [137]:
sleep_eq.ssr

89.0200339467518

In [138]:
sleep_eq.rsquared

0.8883995592136719

In [139]:
sleep_eq.rsquared_adj

0.887806990501532

In [140]:
RSS = sleep_eq.ssr
n = len(df)
k = 4
s = (RSS/(n-k))**0.5
s

0.3969352367913944